<div class="container">
    <h2>Upload an Event</h2>

    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label class="center-block">User ID:
                <input class="form-control" formControlName="userId" required #userIdInput id="USER_ID">
            </label>
        </div>
        <div>
            <p *ngIf="shouldShowFieldValidationMessage('userId')" class="alert alert-danger" >User ID is required</p>
        </div>

        <div class="form-group">
            <label class="center-block">User Name:
                <input class="form-control" formControlName="userName" required id="USER_NAME">
            </label>
        </div>
        <div>
            <p *ngIf="shouldShowFieldValidationMessage('userName')" class="alert alert-danger">User Name is required</p>
        </div>

        <div class="form-group">
            <label class="center-block">Group:
                <input class="form-control" formControlName="group" required id="GROUP">
            </label>
        </div>
        <div>
            <p *ngIf="shouldShowFieldValidationMessage('group')" class="alert alert-danger">Group is required</p>
        </div>

        <div class="form-group">
            <label class="center-block">Asset ID:
                <input class="form-control" formControlName="assetId" type="number" required min=0 id="ASSET_ID">
            </label>
        </div>
        <div>
            <p *ngIf="shouldShowFieldValidationMessage('assetId')" class="alert alert-danger">Asset Id is required</p>
        </div>

        <div class="form-group">
            <label class="center-block">Asset Title:
                <input class="form-control" formControlName="assetTitle" required id="ASSET_TITLE">
            </label>
        </div>
        <div>
            <p *ngIf="shouldShowFieldValidationMessage('assetTitle')" class="alert alert-danger">Asset Title is required</p>
        </div>

        <div class="form-group">
            <label class="center-block">Start Date:
                <input class="form-control" formControlName="startDate" type="date" required id="START_DATE">
            </label>
        </div>
        <div>
            <p *ngIf="shouldShowFieldValidationMessage('startDate')" class="alert alert-danger">Must be a valid date</p>
        </div>

        <div class="form-group">
            <label class="center-block">End Date:
                <input class="form-control" formControlName="endDate" type="date" required id="END_DATE">
            </label>
        </div>
        <div>
            <p *ngIf="shouldShowFieldValidationMessage('endDate')" class="alert alert-danger">Must be a valid date</p>
            <p *ngIf="eventForm.hasError('endDateIsBeforeStartDate')" class="alert alert-danger"> End date must be before start date</p>
        </div>

        <div class="form-group">
            <label class="center-block">Min number per day:
                <input class="form-control" formControlName="minEvents" type="number" required min=0 max=200 id="MIN_EVENTS_PER_DAY">
            </label>
        </div>
        <div>
            <p *ngIf="shouldShowFieldValidationMessage('minEvents')" class="alert alert-danger">Invalid number of Events</p>
        </div>

        <div class="form-group">
            <label class="center-block">Max number per day:
                <input class="form-control" formControlName="maxEvents" type="number" required min=0 max=200 id="MAX_EVENTS_PER_DAY">
            </label>
        </div>
        <div>
            <p *ngIf="shouldShowFieldValidationMessage('maxEvents')" class="alert alert-danger">Invalid number of Events</p>
            <p *ngIf="eventForm.hasError('invalidValue') && !eventForm.get('maxEvents').pristine" class="alert alert-danger"> Max field must be greater than the Min field</p>

        </div>

        <button type="submit" class="btn btn-success" [disabled]="!eventForm.valid" id="GENERATE_BUTTON">
            Generate
        </button>

    </form>

</div>
